<button
  ...attributes
  type="button"
  id="{{this.id}}-button"
  class="context-menu-button {{if this.isOpen "active"}}"
  aria-haspopup="true"
  aria-controls={{this.menu.id}}
  aria-expanded="{{this.isOpen}}"
  disabled={{this.disabled}}
  {{on "click" this.open}}
  {{on "keydown" this.onButtonKeyDown}}
  {{on "mousedown" this.onButtonMouseDown}}
>
  {{yield}}
  Context menu for {{@description}}
</button>

{{#if this.isOpen}}
  {{#in-element this.parent insertBefore=null}}
    {{on-document "keydown" this.onDocumentKeyDown}}
    {{on-document "focusout" this.onDocumentFocusOut capture=true}}
    {{on-window "resize" this.position}}
    {{on this.scroll "scroll" this.position}}

    <ul
      id="{{this.id}}-menu"
      class="context-menu"
      role="menu"
      aria-labelledby={{this.button.id}}
      {{did-insert this.didOpen}}
    >
      {{#each @actions as |action idx|}}
        <li
          role="menuitem"
          tabindex="-1"
          class="{{if action.dangerous "dangerous"}}"
          {{on "click" action.callback}}
          {{on "mouseenter" (fn this.moveFocus idx)}}
        >
          <Icon @name={{action.icon}} alt="" />
          <span class="label">{{action.label}}</span>
          {{#if action.description}}
            <span class="description">{{action.description}}</span>
          {{/if}}
        </li>
      {{/each}}
    </ul>
  {{/in-element}}
{{/if}}
