<article class="profile">
  {{#if @user.picture}}
    <img src={{@user.picture}} />
  {{else}}
    <div class="initial">{{this.initial}}</div>
  {{/if}}

  <div class="name">{{@user.name}}</div>
  <div class="email">{{@user.email}}</div>
</article>
