<div class="card-designer full-page-modal" {{animate this.isShown}}>
  <form {{on "submit" this.submit}}>
    <h1>
      {{#if this.isNew}}
        New Card
      {{else}}
        Edit Card
      {{/if}}
    </h1>

    <div class="scroll-container">
      <div class="card-preview">
        <StampCard @card={{this.preview}} class="inert" />
      </div>

      <div class="card-fields">
        <label>
          Title
          <Input
            @value={{this.title}}
            placeholder={{this.placeholders.title}}
            disabled={{this.isSubmitting}}
            required
          />
        </label>

        <label>
          Description
          <Input
            @value={{this.description}}
            placeholder={{this.placeholders.description}}
            disabled={{this.isSubmitting}}
            required
          />
        </label>

        <label>
          Background Color
          <Input
            @type="color"
            @value={{this.backgroundColor}}
            placeholder={{this.placeholders.backgroundColor}}
            disabled={{this.isSubmitting}}
            required
          />
        </label>

        <label>
          Text Color
          <Input
            @type="color"
            @value={{this.foregroundColor}}
            placeholder={{this.placeholders.foregroundColor}}
            disabled={{this.isSubmitting}}
            required
          />
        </label>

        <label>
          Number of Stamps
          <Input
            @type="number"
            @value={{this.goal}}
            placeholder={{this.placeholders.goal}}
            min="1"
            max="50"
            step="1"
            disabled={{this.isSubmitting}}
            required
          />
        </label>

        <label>
          Expires?
          <Input
            @type="checkbox"
            @checked={{this.expires}}
            disabled={{this.isSubmitting}}
          />
        </label>

        {{#if this.expires}}
          <label>
            Expiration Date
            <Input
              @type="date"
              @value={{this.expirationDateValue}}
              placeholder={{this.expirationDatePlaceholderValue}}
              disabled={{this.isSubmitting}}
              required
            />
          </label>
        {{/if}}

        <label>
          Terms
          <Textarea
            @value={{this.termsValue}}
            placeholder={{this.termsPlaceholderValue}}
            disabled={{this.isSubmitting}}
            {{auto-resize}}
          />
        </label>

        {{#if this.isNew}}
          <label>
            Email Address
            <Input
              @type="email"
              @value={{this.emailAddress}}
              placeholder={{this.placeholders.emailAddress}}
              disabled={{this.isSubmitting}}
              required
            />
          </label>

          <label>
            Send Notification Email
            <Input
              @type="checkbox"
              @checked={{this.sendNotificationEmail}}
              disabled={{this.isSubmitting}}
            />
          </label>

          {{#if this.sendNotificationEmail}}
            <label>
              Email Message
              <Textarea
                @value={{this.emailMessage}}
                placeholder={{this.placeholders.emailMessage}}
                disabled={{this.isSubmitting}}
                {{auto-resize}}
              />
            </label>
          {{/if}}
        {{/if}}
      </div>
    </div>

    <button type="submit" disabled={{this.isSubmitting}}>
      {{#if this.isNew}}
        {{#if this.isSubmitting}}
          Sending...
        {{else}}
          Send
        {{/if}}
      {{else}}
        {{#if this.isSubmitting}}
          Saving...
        {{else}}
          Save
        {{/if}}
      {{/if}}
    </button>


    <button type="button" disabled={{this.isSubmitting}} {{on "click" this.cancel}}>
      Cancel
    </button>
  </form>
</div>
