<article
  class="stamp-card {{if @inert "inert"}}"
  style="background: {{{@card.backgroundColor}}}; color: {{{@card.foregroundColor}}}"
  ...attributes
>
  <h1>{{@card.title}}</h1>
  <h2>{{@card.description}}</h2>
  {{#let this.slots as |slots|}}
    <p class="stamps {{this.size}}">
      <ol>
        {{#each slots as |slot i|}}
          <li>
            {{#if slot.filled}}
              <Icon
                @name="stamp"
                fill={{@card.foregroundColor}}
                alt="Stamp"
              />
            {{/if}}
            {{#unless @inert}}
              <ContextMenu
                @parent="article"
                @description="Slot {{i}}"
                @items={{slot.items}}
              />
            {{/unless}}
          </li>
        {{/each}}
      </ol>
    </p>
  {{/let}}
  {{#if (or @card.expirationDate @card.terms.length)}}
    <p class="terms">
      <h3>Terms and Conditions:</h3>
      <ul>
        {{#if @card.expirationDate}}
          <li>Expires {{format-date @card.expirationDate}}.</li>
        {{/if}}
        {{#each @card.terms as |term|}}
          <li>{{term}}</li>
        {{/each}}
      </ul>
    </p>
  {{/if}}

  {{#if @card.isSentFromMe}}
    <LinkTo @route="give.edit" @model={{@card.id}} class="edit">
      <Icon @name="edit" style="fill: {{{@card.foregroundColor}}}" alt="Edit Card" />
    </LinkTo>

    <button type="button" class="delete" {{on "click" this.delete}}>
      <Icon @name="delete" style="fill: {{{@card.foregroundColor}}}" alt="Delete Card" />
    </button>
  {{/if}}
</article>
